In [1]:
import pandas as pd
import numpy as np

#svm
from sklearn import svm

In [2]:
#df = pd.read_csv('../data/example.csv')
df = pd.read_csv('./data/train.csv')
df_test = pd.read_csv('./data/test.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
len(df)

891

In [6]:
print("Total N Check", len(df))
print("Pclass", df.Pclass.isnull().sum())
print("Name", df.Name.isnull().sum())
print("Sex", df.Sex.isnull().sum())
print("Age", df.Age.isnull().sum())
print("SibSp", df.SibSp.isnull().sum())
print("Parch", df.Parch.isnull().sum())
print("Ticket", df.Ticket.isnull().sum())
print("Fare", df.Fare.isnull().sum())
print("Cabin", df.Cabin.isnull().sum())

Total N Check 891
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
#Sex Categorize
df = df.replace('male', 1).replace('female', 0)
#Embarked Categorize
df.replace('male', 1).replace('female', 0)
#categorize
df = df.replace(['S', 'C', 'Q'], [1, 2, 3])
#embarked 없는 사람들은 제거
df = df[df.Embarked.notnull()]
#Age가 없는사람들은 제거
df = df[df.Age.notnull()]

In [9]:
#Cabin가 없는사람들은 제거 #TBD
#df = df[df.Cabin.notnull()]

In [10]:
#len(df)

In [11]:
#unique check
print("Total N Check", len(df))
print("Pclass", df.Pclass.unique())
print("Name", df.Name.unique())
print("Sex", df.Sex.unique())
print("Age", df.Age.unique())
print("SibSp", df.SibSp.unique())
print("Parch", df.Parch.unique())
print("Ticket", df.Ticket.unique())
print("Fare", df.Fare.unique())
print("Cabin", df.Cabin.unique())

Total N Check 712
Pclass [3 1 2]
Name ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Fynney, Mr. Joseph J' 'Beesley, Mr. Lawrence'
 'McGowan, Miss. Anna "Annie"' 'Sloper, Mr. William Thompson'
 'Palsson, Miss. Torborg Danira'
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)'
 'Fortune, Mr. Charles Alexander' 'Uruchurtu, Don. Manuel E'
 'Wheadon, Mr. Edward H' 'Meyer, Mr. Edgar Joseph'
 'Holverson, Mr. Alexander Oskar' 'Cann, Mr. Ernest Charles'
 'Vander Planke, Miss. Augusta Maria' 'Nicola-Yarred, Miss. Jamila'
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)'
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)'
 'Laroche, Miss. Simonne Marie Anne Andree' 'Devaney, Miss. Margaret Delia'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)'
 'Panula, Master. Juha Niilo' 'Nosworthy, Mr. Richard Cater'
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Ostby, Mr. Engelhart Cornelius' 'Rugg, Miss. Emily' 'Novel, Mr. Mansouer'
 'West, Miss. Constance Mirium' 'Goodwin, Master. William Frederick'
 'Sirayanian, Mr. Orsen' 'Harris, Mr. Henry Birkhardt'
 'Skoog, Master. Harald' 'Nye, Mrs. (Elizabeth Ramell)'
 'Crease, Mr. Ernest James' 'Andersson, Miss. Erna Alexandra'
 'Kink, Mr. Vincenz' 'Jenkin, Mr. Stephen Curnow'
 'Goodwin, Miss. Lillian Amy' 'Hood, Mr. Ambrose Jr'
 'Chronopoulos, Mr. Apostolos' 'Bing, Mr. Lee' 'Moen, Mr. Sigurd Hansen'
 'Caldwell, Master. Alden Gates' 'Dowdell, Miss. Elizabeth'
 'Waelens, Mr. Achille' 'Sheerlinck, Mr. Jan Baptist'
 'Carrau, Mr. Francisco M' 'Ilett, Miss. Bertha'
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)'
 'Ford, Mr. William Neal' 'Fortune, Miss. Mabel Helen'
 'Celotti, Mr. Francesco' 'Christmann, Mr. Emil'
 'Andreasson, Mr. Paul Edvin' 'Chaffee, Mr. Herbert Fuller'
 'Dean, Mr. Bertram Frank' 'Coxon, Mr. Daniel' 'Goldschmidt, Mr. George B'
 'Greenfield, Mr. William Bertram' 'Doling, Mrs. John T (Ada Julia Bone)'
 'Kantor, Mr. Sinai' 'Petranec, Miss. Matilda' 'White, Mr. Richard Frasar'
 'Johansson, Mr. Gustaf Joel' 'Gustafsson, Mr. Anders Vilhelm'
 'Mionoff, Mr. Stoytcho' 'Salkjelsvik, Miss. Anna Kristine'
 'Rekic, Mr. Tido' 'Porter, Mr. Walter Chamberlain' 'Zabour, Miss. Hileni'
 'Barton, Mr. David John' 'Jussila, Miss. Katriina' 'Attalah, Miss. Malake'
 'Pekoniemi, Mr. Edvard' 'Connors, Mr. Patrick'
 'Turpin, Mr. William John Robert' 'Baxter, Mr. Quigg Edmond'
 'Andersson, Miss. Ellis Anna Maria' 'Hickman, Mr. Stanley George'
 'Nasser, Mr. Nicholas' 'Webber, Miss. Susan' 'White, Mr. Percival Wayland'
 'Nicola-Yarred, Master. Elias' 'Madsen, Mr. Fridtjof Arne'
 'Ekstrom, Mr. Johan' 'Drazenoic, Mr. Jozef'
 'Coelho, Mr. Domingos Fernandeo'
 'Robins, Mrs. Alexander A (Grace Charity Laury)'
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)'
 'Sobey, Mr. Samuel James Hayden' 'Richard, Mr. Emile'
 'Newsom, Miss. Helen Monypeny' 'Futrelle, Mr. Jacques Heath'
 'Osen, Mr. Olaf Elon' 'Giglio, Mr. Victor' 'Nysten, Miss. Anna Sofia'
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)'
 'Burke, Mr. Jeremiah' 'Andrew, Mr. Edgardo Samuel'
 'Nicholls, Mr. Joseph Charles'
 'Andersson, Mr. August Edvard ("Wennerstrom")'
 'Ford, Miss. Robina Maggie "Ruby"'
 'Navratil, Mr. Michel ("Louis M Hoffman")'
 'Byles, Rev. Thomas Roussel Davids' 'Bateman, Rev. Robert James'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Meo, Mr. Alfonzo'
 'van Billiard, Mr. Austin Blyler' 'Williams, Mr. Charles Duane'
 'Gilnagh, Miss. Katherine "Katie"' 'Corn, Mr. Harry'
 'Cribb, Mr. John Hatfield'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)'
 'Bengtsson, Mr. John Viktor' 'Calic, Mr. Jovo'
 'Panula, Master. Eino Viljami'
 'Goldsmith, Master. Frank John William "Frankie"'
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)' 'Ling, Mr. Lee'
 'Van der hoef, Mr. Wyckoff' 'Rice, Master. Arthur'
 'Johnson, Miss. Eleanor Ileen' 'Sivola, Mr. Antti Wilhelm'
 'Smith, Mr. James Clinch' 'Klasen, Mr. Klas Albin'
 'Isham, Miss. Ann Elizabeth' 'Hale, Mr. Reginald' 'Leonard, Mr. Lionel'
 'Asplund, Master. Clarence Gustaf Hugo' 'Becker, Master. Richard F'
 'Kink-Heilmann, Miss. Luise Gretchen'
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")' 'Bourke, Mr. John'
 'Turcin, Mr. Stjepan' 'Pinsky, Mrs. (Rosa)' 'Carbines, Mr. William'
 'Andersen-Jensen, Miss. Carla Christine Nielsine'
 'Navratil, Master. Michel M' 'Brown, Mrs. James Joseph (Margaret Tobin)'
 'Lurette, Miss. Elise' 'Olsen, Mr. Karl Siegwart Andreas'
 'Yrois, Miss. Henriette ("Mrs Harbeck")' 'Vande Walle, Mr. Nestor Cyriel'
 'Johanson, Mr. Jakob Alfred' 'Youseff, Mr. Gerious'
 'Cohen, Mr. Gurshon "Gus"' 'Strom, Miss. Telma Matilda'
 'Backstrom, Mr. Karl Alfred' 'Albimona, Mr. Nassef Cassem'
 'Carr, Miss. Helen "Ellen"' 'Blank, Mr. Henry' 'Ali, Mr. Ahmed'
 'Cameron, Miss. Clear Annie' 'Perkin, Mr. John Henry'
 'Givard, Mr. Hans Kristensen' 'Newell, Miss. Madeleine'
 'Honkanen, Miss. Eliina' 'Jacobsohn, Mr. Sidney Samuel'
 'Bazzani, Miss. Albina' 'Harris, Mr. Walter'
 'Sunderland, Mr. Victor Francis' 'Bracken, Mr. James H'
 'Green, Mr. George Henry' 'Hoyt, Mr. Frederick Maxfield'
 'Berglund, Mr. Karl Ivar Sven' 'Mellors, Mr. William John'
 'Lovell, Mr. John Hall ("Henry")' 'Fahlstrom, Mr. Arne Jonas'
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)' 'Larsson, Mr. Bengt Edvin'
 'Sjostedt, Mr. Ernst Adolf' 'Asplund, Miss. Lillian Gertrud'
 'Leyson, Mr. Robert William Norman' 'Hold, Mr. Stephen'
 'Collyer, Miss. Marjorie "Lottie"' 'Pengelly, Mr. Frederick William'
 'Hunt, Mr. George Henry' 'Coleridge, Mr. Reginald Charles'
 'Maenpaa, Mr. Matti Alexanteri' 'Attalah, Mr. Sleiman'
 'Minahan, Dr. William Edward' 'Lindahl, Miss. Agda Thorilda Viktoria'
 'Hamalainen, Mrs. William (Anna)' 'Beckwith, Mr. Richard Leonard'
 'Carter, Rev. Ernest Courtenay'
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)' 'Stead, Mr. William Thomas'
 'Lobb, Mr. William Arthur' 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Touma, Mrs. Darwis (Hanne Youssef Razi)' 'Cherry, Miss. Gladys'
 'Ward, Miss. Anna' 'Parrish, Mrs. (Lutie Davis)'
 'Asplund, Master. Edvin Rojj Felix' 'Taussig, Mr. Emil'
 'Harrison, Mr. William' 'Reeves, Mr. David' 'Panula, Mr. Ernesti Arvid'
 'Persson, Mr. Ernst Ulrik' 'Graham, Mrs. William Thompson (Edith Junkins)'
 'Bissette, Miss. Amelia' 'Tornquist, Mr. William Henry'
 'Mellinger, Mrs. (Elizabeth Anne Maidment)' 'Natsch, Mr. Charles H'
 'Andrews, Miss. Kornelia Theodosia' 'Lindblom, Miss. Augusta Charlotta'
 'Rice, Master. Eric' 'Abbott, Mrs. Stanton (Rosa Hunt)' 'Duane, Mr. Frank'
 'Olsson, Mr. Nils Johan Goransson' 'de Pelsmaeker, Mr. Alfons'
 'Dorking, Mr. Edward Arthur' 'Stankovic, Mr. Ivan'
 'de Mulder, Mr. Theodore' 'Naidenoff, Mr. Penko' 'Hosono, Mr. Masabumi'
 'Connolly, Miss. Kate' 'Barber, Miss. Ellen "Nellie"'
 'Bishop, Mrs. Dickinson H (Helen Walton)' 'Levy, Mr. Rene Jacques'
 'Haas, Miss. Aloisia' 'Mineff, Mr. Ivan' 'Hanna, Mr. Mansour'
 'Allison, Miss. Helen Loraine'
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)'
 'Johnson, Mr. William Cahoone Jr' 'Allison, Master. Hudson Trevor'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Abelson, Mr. Samuel' 'Francatelli, Miss. Laura Mabel'
 'Hays, Miss. Margaret Bechstein' 'Ryerson, Miss. Emily Borie'
 'Lahtinen, Mrs. William (Anna Sylfven)' 'Hendekovic, Mr. Ignjac'
 'Hart, Mr. Benjamin' 'Nilsson, Miss. Helmina Josefina'
 'Kantor, Mrs. Sinai (Miriam Sternin)' 'Moraweck, Dr. Ernest'
 'Wick, Miss. Mary Natalie'
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)'
 'Dennis, Mr. Samuel' 'Danoff, Mr. Yoto' 'Slayter, Miss. Hilda Mary'
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)'
 'Young, Miss. Marie Grice' 'Nysveen, Mr. Johan Hansen'
 'Ball, Mrs. (Ada E Hall)' 'Goldsmith, Mrs. Frank John (Emily Alice Brown)'
 'Hippach, Miss. Jean Gertrude' 'Partner, Mr. Austen'
 'Graham, Mr. George Edward' 'Vander Planke, Mr. Leo Edmondus'
 'Pears, Mr. Thomas Clinton' 'Burns, Miss. Elizabeth Margaret'
 'Dahl, Mr. Karl Edwart' 'Blackwell, Mr. Stephen Weart'
 'Navratil, Master. Edmond Roger' 'Fortune, Miss. Alice Elizabeth'
 'Collander, Mr. Erik Gustaf' 'Sedgwick, Mr. Charles Frederick Waddington'
 'Fox, Mr. Stanley Hubert' 'Brown, Miss. Amelia "Mildred"'
 'Smith, Miss. Marion Elsie' 'Coutts, Master. William Loch "William"'
 'Dimic, Mr. Jovan' 'Odahl, Mr. Nils Martin' 'Elias, Mr. Tannous'
 'Arnold-Franchi, Mr. Josef' 'Vanden Steen, Mr. Leo Peter'
 'Bowerman, Miss. Elsie Edith' 'Funk, Miss. Annie Clemmer'
 'Skoog, Mr. Wilhelm' 'del Carlo, Mr. Sebastiano'
 'Barbara, Mrs. (Catherine David)' 'Asim, Mr. Adola'
 'Adahl, Mr. Mauritz Nils Martin'
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)'
 'Aubart, Mme. Leontine Pauline' 'Harder, Mr. George Achilles'
 'Wiklund, Mr. Jakob Alfred' 'Beavan, Mr. William Thomas'
 'Ringhini, Mr. Sante' 'Palsson, Miss. Stina Viola'
 'Landergren, Miss. Aurora Adelia' 'Widener, Mr. Harry Elkins'
 'Betros, Mr. Tannous' 'Gustafsson, Mr. Karl Gideon'
 'Bidois, Miss. Rosalie' 'Nakid, Miss. Maria ("Mary")' 'Tikkanen, Mr. Juho'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Davies, Mr. Charles Henry' 'Goodwin, Master. Sidney Leonard'
 'Buss, Miss. Kate' 'Lehmann, Miss. Bertha' 'Carter, Mr. William Ernest'
 'Jansson, Mr. Carl Olof' 'Gustafsson, Mr. Johan Birger'
 'Newell, Miss. Marjorie'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Johansson, Mr. Erik' 'Olsson, Miss. Elina' 'McKane, Mr. Peter David'
 'Pain, Dr. Alfred' 'Trout, Mrs. William H (Jessie L)' 'Niskanen, Mr. Juha'
 'Adams, Mr. John' 'Jussila, Miss. Mari Aina'
 'Hakkarainen, Mr. Pekka Pietari' 'Oreskovic, Miss. Marija'
 'Gale, Mr. Shadrach' 'Widegren, Mr. Carl/Charles Peter'
 'Richards, Master. William Rowe' 'Birkeland, Mr. Hans Martin Monsen'
 'Minahan, Miss. Daisy E' 'Sundman, Mr. Johan Julian'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Silven, Miss. Lyyli Karoliina' 'Matthews, Mr. William John'
 'Van Impe, Miss. Catharina' 'Charters, Mr. David' 'Zimmerman, Mr. Leo'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Rosblom, Mr. Viktor Richard'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Pickard, Mr. Berk (Berk Trembisky)'
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan'
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)'
 'Kallio, Mr. Nikolai Erland' 'Silvey, Mr. William Baird'
 'Carter, Miss. Lucile Polk' 'Ford, Miss. Doolina Margaret "Daisy"'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Fortune, Mr. Mark'
 'Kvillner, Mr. Johan Henrik Johannesson'
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)' 'Hampe, Mr. Leon'
 'Petterson, Mr. Johan Emil' 'Reynaldo, Ms. Encarnacion'
 'Dodge, Master. Washington' 'Mellinger, Miss. Madeleine Violet'
 'Seward, Mr. Frederic Kimber' 'Baclini, Miss. Marie Catherine'
 'Peuchen, Major. Arthur Godfrey' 'West, Mr. Edwy Arthur'
 'Foreman, Mr. Benjamin Laventall' 'Goldenberg, Mr. Samuel L'
 'Jalsevac, Mr. Ivan' 'Millet, Mr. Francis Davis' 'Toomey, Miss. Ellen'
 'Anderson, Mr. Harry' 'Morley, Mr. William' 'Gee, Mr. Arthur H'
 'Milling, Mr. Jacob Christian' 'Goncalves, Mr. Manuel Estanslas'
 'Smart, Mr. John Montgomery' 'Baclini, Miss. Helene Barbara'
 'Cacic, Mr. Luka' 'West, Mrs. Edwy Arthur (Ada Mary Worth)'
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)'
 'Strandberg, Miss. Ida Sofia' 'Renouf, Mr. Peter Henry'
 'Braund, Mr. Lewis Richard' 'Karlsson, Mr. Nils August'
 'Hirvonen, Miss. Hildur E' 'Goodwin, Master. Harold Victor'
 'Rouse, Mr. Richard Henry' 'Turkula, Mrs. (Hedwig)'
 'Bishop, Mr. Dickinson H'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)'
 'Kent, Mr. Edward Austin' 'Somerton, Mr. Francis William'
 'Coutts, Master. Eden Leslie "Neville"' 'Windelov, Mr. Einar'
 'Molson, Mr. Harry Markland' 'Artagaveytia, Mr. Ramon'
 'Stanley, Mr. Edward Roland' 'Eustis, Miss. Elizabeth Mussey'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)' 'Svensson, Mr. Olof'
 'Calic, Mr. Petar' 'Canavan, Miss. Mary' 'Laitinen, Miss. Kristina Sofia'
 'Maioni, Miss. Roberta' 'Penasco y Castellana, Mr. Victor de Satode'
 'Quick, Mrs. Frederick Charles (Jane Richards)' 'Olsen, Mr. Henry Margido'
 'Lang, Mr. Fang' 'Daly, Mr. Eugene Patrick' 'McGough, Mr. James Robert'
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)' 'Coleff, Mr. Satio'
 'Walker, Mr. William Anderson' 'Lemore, Mrs. (Amelia Milley)'
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)'
 'Pavlovic, Mr. Stefo' 'Perreault, Miss. Anne' 'Vovk, Mr. Janko'
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)' 'Farrell, Mr. James'
 'Ridsdale, Miss. Lucy' 'Salonen, Mr. Johan Werner'
 'Hocking, Mr. Richard George' 'Quick, Miss. Phyllis May'
 'Elias, Mr. Joseph Jr' 'Cacic, Miss. Marija' 'Hart, Miss. Eva Miriam'
 'Butt, Major. Archibald Willingham' 'LeRoy, Miss. Bertha'
 'Frolicher, Miss. Hedwig Margaritha' 'Crosby, Miss. Harriet R'
 'Andersson, Miss. Ingeborg Constanzia' 'Andersson, Miss. Sigrid Elisabeth'
 'Beane, Mr. Edward' 'Douglas, Mr. Walter Donald'
 'Nicholson, Mr. Arthur Ernest' 'Beane, Mrs. Edward (Ethel Clarke)'
 'Goldsmith, Mr. Frank John' 'Davies, Master. John Morgan Jr'
 'Thayer, Mr. John Borland Jr' 'Sharp, Mr. Percival James R'
 'Leeni, Mr. Fahim ("Philip Zenni")' 'Ohman, Miss. Velin'
 'Wright, Mr. George'
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")'
 'Taussig, Mrs. Emil (Tillie Mandelbaum)'
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)' 'Sivic, Mr. Husein'
 'Norman, Mr. Robert Douglas' 'Davies, Mr. Alfred J' 'Stoytcheff, Mr. Ilia'
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)' 'Jonsson, Mr. Carl'
 'Harris, Mr. George' 'Appleton, Mrs. Edward Dale (Charlotte Lamson)'
 'Flynn, Mr. John Irwin ("Irving")' 'Rush, Mr. Alfred George John'
 'Patchett, Mr. George' 'Garside, Miss. Ethel'
 'Silvey, Mrs. William Baird (Alice Munger)' 'Jussila, Mr. Eiriik'
 'Christy, Miss. Julie Rachel'
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)'
 'Downton, Mr. William James' 'Ross, Mr. John Hugo' 'Taussig, Miss. Ruth'
 'Jarvis, Mr. John Denzil' 'Frolicher-Stehli, Mr. Maxmillian'
 'Gilinski, Mr. Eliezer' 'Rintamaki, Mr. Matti'
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)'
 'Elsbury, Mr. William James' 'Chapman, Mr. John Henry'
 'Van Impe, Mr. Jean Baptiste' 'Johnson, Mr. Alfred'
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")'
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)'
 'Torber, Mr. Ernst William' 'Homer, Mr. Harry ("Mr E Haven")'
 'Lindell, Mr. Edvard Bengtsson' 'Karaic, Mr. Milan'
 'Daniel, Mr. Robert Williams'
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)'
 'Shutes, Miss. Elizabeth W'
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)'
 'Brocklebank, Mr. William Alfred' 'Herman, Miss. Alice'
 'Danbom, Mr. Ernst Gilbert'
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)'
 'Becker, Miss. Marion Louise' 'Gavey, Mr. Lawrence' 'Yasbeck, Mr. Antoni'
 'Kimball, Mr. Edwin Nelson Jr' 'Nakid, Mr. Sahid'
 'Hansen, Mr. Henry Damsgaard' 'Bowen, Mr. David John "Dai"'
 'Sutton, Mr. Frederick' 'Kirkland, Rev. Charles Leonard'
 'Longley, Miss. Gretchen Fiske' 'Bostandyeff, Mr. Guentcho'
 'Barkworth, Mr. Algernon Henry Wilson' 'Lundahl, Mr. Johan Svensson'
 'Stahelin-Maeglin, Dr. Max' 'Skoog, Miss. Mabel' 'Davis, Miss. Mary'
 'Leinonen, Mr. Antti Gustaf' 'Collyer, Mr. Harvey'
 'Panula, Mrs. Juha (Maria Emilia Ojala)' 'Jensen, Mr. Hans Peder'
 'Sagesser, Mlle. Emma' 'Skoog, Miss. Margit Elizabeth'
 'Baclini, Miss. Eugenie' 'Harper, Mr. Henry Sleeper' 'Cor, Mr. Liudevit'
 'Simonius-Blumer, Col. Oberst Alfons' 'Stanley, Miss. Amy Zillah Elsie'
 'Doling, Miss. Elsie' 'Kalvik, Mr. Johannes Halvorsen'
 'Hegarty, Miss. Hanora "Nora"' 'Hickman, Mr. Leonard Mark'
 'Bourke, Mrs. John (Catherine)' 'Eitemiller, Mr. George Floyd'
 'Newell, Mr. Arthur Webster' 'Frauenthal, Dr. Henry William'
 'Badt, Mr. Mohamed' 'Colley, Mr. Edward Pomeroy' 'Coleff, Mr. Peju'
 'Lindqvist, Mr. Eino William' 'Hickman, Mr. Lewis'
 'Butler, Mr. Reginald Fenton' 'Cook, Mr. Jacob'
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)'
 'Davidson, Mr. Thornton' 'Mitchell, Mr. Henry Michael'
 'Wilhelms, Mr. Charles' 'Edvardsson, Mr. Gustaf Hjalmar'
 'Sawyer, Mr. Frederick Charles' 'Turja, Miss. Anna Sofia'
 'Goodwin, Mrs. Frederick (Augusta Tyler)'
 'Cardeza, Mr. Thomas Drake Martinez' 'Hassab, Mr. Hammad'
 'Olsvigen, Mr. Thor Anderson' 'Goodwin, Mr. Charles Edward'
 'Brown, Mr. Thomas William Solomon'
 'Laroche, Mr. Joseph Philippe Lemercier' 'Panula, Mr. Jaako Arnold'
 'Dakic, Mr. Branko' 'Fischer, Mr. Eberhard Thelander'
 'Madill, Miss. Georgette Alexandra' 'Dick, Mr. Albert Adrian'
 'Karun, Miss. Manca' 'Saad, Mr. Khalil' 'Weir, Col. John'
 'Chapman, Mr. Charles Henry' 'Kelly, Mr. James' 'Thayer, Mr. John Borland'
 'Humblen, Mr. Adolf Mathias Nicolai Olsen'
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)'
 'Silverthorne, Mr. Spencer Victor' 'Barbara, Miss. Saiide'
 'Gallagher, Mr. Martin' 'Hansen, Mr. Henrik Juul'
 'Morley, Mr. Henry Samuel ("Mr Henry Marshall")'
 'Kelly, Mrs. Florence "Fannie"' 'Calderhead, Mr. Edward Pennington'
 'Cleaver, Miss. Alice' 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")'
 'Taylor, Mr. Elmer Zebley' 'Larsson, Mr. August Viktor'
 'Greenberg, Mr. Samuel' 'Soholt, Mr. Peter Andreas Lauritz Andersen'
 'Endres, Miss. Caroline Louise' 'Troutt, Miss. Edwina Celia "Winnie"'
 'Johnson, Mr. Malkolm Joackim' 'Harper, Miss. Annie Jessie "Nina"'
 'Jensen, Mr. Svend Lauritz' 'Gillespie, Mr. William Henry'
 'Hodges, Mr. Henry Price' 'Chambers, Mr. Norman Campbell'
 'Oreskovic, Mr. Luka' 'Renouf, Mrs. Peter Henry (Lillian Jefferys)'
 'Bryhl, Mr. Kurt Arnold Gottfrid' 'Ilmakangas, Miss. Pieta Sofia'
 'Allen, Miss. Elisabeth Walton' 'Hassan, Mr. Houssein G N'
 'Berriman, Mr. William John' 'Troupiansky, Mr. Moses Aaron'
 'Williams, Mr. Leslie' 'Ford, Mrs. Edward (Margaret Ann Watson)'
 'Lesurer, Mr. Gustave J' 'Cavendish, Mr. Tyrell William'
 'Ryerson, Miss. Susan Parker "Suzette"' 'McNamee, Mr. Neal'
 'Stranden, Mr. Juho' 'Crosby, Capt. Edward Gifford'
 'Abbott, Mr. Rossmore Edward' 'Sinkkonen, Miss. Anna'
 'Marvin, Mr. Daniel Warner' 'Connaghton, Mr. Michael' 'Wells, Miss. Joan'
 'Moor, Master. Meier' 'Vande Velde, Mr. Johannes Joseph'
 'Jonkoff, Mr. Lalio' 'Herman, Mrs. Samuel (Jane Laver)'
 'Hamalainen, Master. Viljo' 'Carlsson, Mr. August Sigfrid'
 'Bailey, Mr. Percy Andrew' 'Theobald, Mr. Thomas Leonard'
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)'
 'Nirva, Mr. Iisakki Antino Aijo' 'Barah, Mr. Hanna Assi'
 'Carter, Mrs. William Ernest (Lucile Polk)' 'Eklund, Mr. Hans Linus'
 'Hogeboom, Mrs. John C (Anna Andrews)' 'Mangan, Miss. Mary'
 'Gronnestad, Mr. Daniel Danielsen' 'Lievens, Mr. Rene Aime'
 'Jensen, Mr. Niels Peder' 'Mack, Mrs. (Mary)'
 'Hocking, Mrs. Elizabeth (Eliza Needs)'
 'Myhrman, Mr. Pehr Fabian Oliver Malkolm' 'Emanuel, Miss. Virginia Ethel'
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)'
 'Ayoub, Miss. Banoura' 'Dick, Mrs. Albert Adrian (Vera Gillespie)'
 'Long, Mr. Milton Clyde' 'Ali, Mr. William'
 'Harmer, Mr. Abraham (David Lishin)' 'Sjoblom, Miss. Anna Sofia'
 'Rice, Master. George Hugh' 'Dean, Master. Bertram Vere'
 'Guggenheim, Mr. Benjamin' 'Gaskell, Mr. Alfred' 'Dantcheff, Mr. Ristiu'
 'Otter, Mr. Richard' 'Leader, Dr. Alice (Farnham)' 'Osman, Mrs. Mara'
 'Ibrahim Shawah, Mr. Yousseff'
 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)'
 'Ponesell, Mr. Martin' 'Collyer, Mrs. Harvey (Charlotte Annie Tate)'

In [12]:
#Pclass, Sex, Age, SibSp, Parch, Fare, Embarked 만으로 학습 (svm)
clf = svm.SVC(kernel='linear')

In [13]:
df_selected = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'] ]

In [14]:
X = df_selected.values.tolist()
Y = df['Survived'].tolist()

In [15]:
clf.fit(X, Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
Y_train_predicted = clf.predict(X)

In [17]:
rslt_train = (Y_train_predicted == Y)

In [18]:
np.sum(rslt_train) / len(X)

0.7794943820224719

In [19]:
clf.coef_

array([[ -3.18729266e-03,  -2.00139986e+00,  -2.17215321e-04,
         -1.91330490e-03,  -1.65879235e-03,   7.74635100e-05,
          2.82436533e-04]])

In [21]:
#df_test here
#Sex Categorize
df_test = df_test.replace('male', 1).replace('female', 0)
#Embarked Categorize
df_test.replace('male', 1).replace('female', 0)
#categorize
df_test = df_test.replace(['S', 'C', 'Q'], [1, 2, 3])
#embarked 없는 사람들은 제거
df_test = df_test[df_test.Embarked.notnull()]
#Age가 없는사람들은 제거
df_test = df_test[df_test.Age.notnull()]

In [22]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,3
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,1
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,3
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,1
5,897,3,"Svensson, Mr. Johan Cervin",1,14.0,0,0,7538,9.2250,NaN,1
6,898,3,"Connolly, Miss. Kate",0,30.0,0,0,330972,7.6292,NaN,3
7,899,2,"Caldwell, Mr. Albert Francis",1,26.0,1,1,248738,29.0000,NaN,1
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,18.0,0,0,2657,7.2292,NaN,2
9,901,3,"Davies, Mr. John Samuel",1,21.0,2,0,A/4 48871,24.1500,NaN,1
11,903,1,"Jones, Mr. Charles Cresson",1,46.0,0,0,694,26.0000,NaN,1
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,23.0,1,0,21228,82.2667,B45,1
13,905,2,"Howard, Mr. Benjamin",1,63.0,1,0,24065,26.0000,NaN,1
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,47.0,1,0,W.E.P. 5734,61.1750,E31,1
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,24.0,1,0,SC/PARIS 2167,27.7208,NaN,2
16,908,2,"Keane, Mr. Daniel",1,35.0,0,0,233734,12.3500,NaN,3
17,909,3,"Assaf, Mr. Gerios",1,21.0,0,0,2692,7.2250,NaN,2
18,910,3,"Ilmakangas, Miss. Ida Livija",0,27.0,1,0,STON/O2. 3101270,7.9250,NaN,1
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,45.0,0,0,2696,7.2250,NaN,2
20,912,1,"Rothschild, Mr. Martin",1,55.0,1,0,PC 17603,59.4000,NaN,2
21,913,3,"Olsen, Master. Artur Karl",1,9.0,0,1,C 17368,3.1708,NaN,1
23,915,1,"Williams, Mr. Richard Norris II",1,21.0,0,1,PC 17597,61.3792,NaN,2
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",0,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,2
25,917,3,"Robins, Mr. Alexander A",1,50.0,1,0,A/5. 3337,14.5000,NaN,1
26,918,1,"Ostby, Miss. Helene Ragnhild",0,22.0,0,1,113509,61.9792,B36,2
27,919,3,"Daher, Mr. Shedid",1,22.5,0,0,2698,7.2250,NaN,2
28,920,1,"Brady, Mr. John Bertram",1,41.0,0,0,113054,30.5000,A21,1
30,922,2,"Louch, Mr. Charles Alexander",1,50.0,1,0,SC/AH 3085,26.0000,NaN,1
31,923,2,"Jefferys, Mr. Clifford Thomas",1,24.0,2,0,C.A. 31029,31.5000,NaN,1
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",0,33.0,1,2,C.A. 2315,20.5750,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
381,1273,3,"Foley, Mr. Joseph",1,26.0,0,0,330910,7.8792,NaN,3
383,1275,3,"McNamee, Mrs. Neal (Eileen O'Leary)",0,19.0,1,0,376566,16.1000,NaN,1
385,1277,2,"Herman, Miss. Kate",0,24.0,1,2,220845,65.0000,NaN,1
386,1278,3,"Aronsson, Mr. Ernst Axel Algot",1,24.0,0,0,349911,7.7750,NaN,1
387,1279,2,"Ashby, Mr. John",1,57.0,0,0,244346,13.0000,NaN,1
388,1280,3,"Canavan, Mr. Patrick",1,21.0,0,0,364858,7.7500,NaN,3
389,1281,3,"Palsson, Master. Paul Folke",1,6.0,3,1,349909,21.0750,NaN,1
390,1282,1,"Payne, Mr. Vivian Ponsonby",1,23.0,0,0,12749,93.5000,B24,1
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",0,51.0,0,1,PC 17592,39.4000,D28,1
392,1284,3,"Abbott, Master. Eugene Joseph",1,13.0,0,2,C.A. 2673,20.2500,NaN,1
393,1285,2,"Gilbert, Mr. William",1,47.0,0,0,C.A. 30769,10.5000,NaN,1
394,1286,3,"Kink-Heilmann, Mr. Anton",1,29.0,3,1,315153,22.0250,NaN,1
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,18.0,1,0,13695,60.0000,C31,1
396,1288,3,"Colbert, Mr. Patrick",1,24.0,0,0,371109,7.2500,NaN,3
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",0,48.0,1,1,13567,79.2000,B41,2
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",1,22.0,0,0,347065,7.7750,NaN,1
399,1291,3,"Conlon, Mr. Thomas Henry",1,31.0,0,0,21332,7.7333,NaN,3
400,1292,1,"Bonnell, Miss. Caroline",0,30.0,0,0,36928,164.8667,C7,1
401,1293,2,"Gale, Mr. Harry",1,38.0,1,0,28664,21.0000,NaN,1
402,1294,1,"Gibson, Miss. Dorothy Winifred",0,22.0,0,1,112378,59.4000,NaN,2
403,1295,1,"Carrau, Mr. Jose Pedro",1,17.0,0,0,113059,47.1000,NaN,1
404,1296,1,"Frauenthal, Mr. Isaac Gerald",1,43.0,1,0,17765,27.7208,D40,2
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",1,20.0,0,0,SC/PARIS 2166,13.8625,D38,2
406,1298,2,"Ware, Mr. William Jeffery",1,23.0,1,0,28666,10.5000,NaN,1
407,1299,1,"Widener, Mr. George Dunton",1,50.0,1,1,113503,211.5000,C80,2
409,1301,3,"Peacock, Miss. Treasteall",0,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,1
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,37.0,1,0,19928,90.0000,C78,3
412,1304,3,"Henriksson, Miss. Jenny Lovisa",0,28.0,0,0,347086,7.7750,NaN,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,2
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,1